.button {
      border-radius: 0.5rem;
      box-shadow: rgba(73, 93, 207, 0.2);
      appearance: none;
      border: none;
      outline: none;
      width: 100%;
      max-width: 166px;
      padding: 1rem;
      cursor: pointer;
      border: 2px solid white;
}

.button--primary {
      background: #5267df;
      color: white;
      font-weight: bold;
      &:hover {
            background: white;
            color: #5267DF;
            border: 2px solid #5267DF;
      }
}

.button--secondary {
      background: #d3adad;
      color: #242A45;
      font-weight: bold;
      &:hover {
            background: white;
            color: #242A45;
            border: 2px solid #242A45;
      }
}
