.faq {
      padding: 2rem 10vw 4rem 10vw;
      div {
            padding: 1.5rem 0;
            border-bottom: 1px solid grey;
            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: 1fr auto;
      }
}

@media screen and (min-width: 700px) {
      .faq {
            margin: 0 auto;
            width: 75vw;
      }
}